<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <div class="mx-auto max-w-md bg-light-aqua-50 p-6 rounded-3xl shadow-lg">
      <.flash_group flash={@flash} />
      {@inner_content}
    </div>
  </div>
</main>
